**Question 1**

In [24]:
import pandas as pd
import numpy as np

In [25]:
cutlet=pd.read_csv("Cutlets.csv")
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [26]:
cutlet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [27]:
cutlet.shape

(35, 2)

In [28]:
cutlet.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [29]:
from statistics import mean, stdev
A=np.array(cutlet["Unit A"])
xbar1=mean(A)
s1=stdev(A)
print(xbar1,s1)

7.0190914285714285 0.28840848418154963

In [30]:
B=np.array(cutlet["Unit B"])
xbar2=mean(B)
s2=stdev(B)
print(xbar2,s2)

6.964297142857143 0.343400647063108

In [31]:
# H0:- muA = muB
#H1 :- muA not equal to muB
#Here we do not know the population standard deviation so we will go for two sample t test

In [32]:
# Before performing the two sample t test we need to check if the variances of two groups are equal or not.
#S2 is greater than S1
#As a rule of thumb, we can assume the populations have equal variances if the ratio of the larger sample variance to the smaller sample variance is less than 4:1. 
r=(s2/s1)
if r<4:
  print("Equal Variance"),
else:
  print("Not Equal Vraiance")

Equal Variance

In [33]:
import scipy.stats as stats
stats.ttest_ind(a=A, b=B, equal_var=True)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [34]:
# As we got p-value greater than 5% we fail to reject H0.
# That is there is no sginificant difference in diameter of cutlets in Unit A and Unit B

**Question 2**

In [35]:
import pandas as pd
import numpy as np

In [36]:
lab=pd.read_csv("LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [37]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [38]:
lab.shape

(120, 4)

In [39]:
lab.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [40]:
from scipy import stats
Anv=stats.f_oneway(lab['Laboratory 1'],lab['Laboratory 2'],lab['Laboratory 3'],lab['Laboratory 4'])
Anv

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [41]:
lab2=pd.read_csv('Lab_data.csv')

In [42]:
import statsmodels.api as sm

from statsmodels.formula.api import ols

In [43]:
Lab_lm = ols('Target ~ C(Lab, Sum)',data=lab2).fit()
Lab_lm

In [44]:
table = sm.stats.anova_lm(Lab_lm, typ=2)
table

                    sum_sq     df           F        PR(>F)
C(Lab, Sum)   79979.167089    3.0  118.704217  2.115671e-57
Residual     106904.608903  476.0         NaN           NaN

**Question 3**

In [45]:
import pandas as pd
import numpy as np

In [46]:
buyer=pd.read_csv("BuyerRatio.csv")
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [47]:
buyer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [48]:
buyer.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [49]:
ratio=np.array([[20,142,131,70],[435,1523,1356,750]])

In [50]:
from scipy.stats import chi2_contingency
chi2_contingency(ratio)

Chi2ContingencyResult(statistic=9.845117629827154, pvalue=0.019929629253981406, dof=3, expected_freq=array([[  37.3085611 ,  136.52473458,  121.92929749,   67.23740682],
       [ 417.6914389 , 1528.47526542, 1365.07070251,  752.76259318]]))

**Question 4**

In [51]:
import pandas as pd
import numpy as np

In [52]:
customer=pd.read_csv("Costomer+OrderForm.csv")
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [53]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [54]:
customer.shape

(300, 4)

In [55]:
customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [56]:
Error_free=[271,267,269,280]
Defective=[29,33,31,20]

In [57]:
order=np.array([Error_free,Defective]);order

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [58]:
from scipy.stats import chi2_contingency
chi2_contingency(order)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))